Repository elShailee/The-Act-of-Time, pull requests merged in 2021-04, with the labels that each got.

#47 Settings Button + Window + Icon
  .gitignore
  src/Components/Actions/ActionsButton.css
  src/Components/AllTheFloatingWindows/AllTheFloatingWindows.js
  src/Components/Settings/SettingsButton.css
  src/Components/Settings/SettingsButton.jsx
  src/Components/Settings/SettingsWindow.jsx
  src/GeneralStyles/iconsStyles.css
  src/Images/settingsIcon.png
  src/Redux/Slices/MountedComponents.js
  src/Screens/GameplayScreen/GameplayScreen.css
  src/Screens/GameplayScreen/GameplayScreen.js
  src/Texts/gameplayTexts.js
Labels: Settings

#50 Maintenance/refactor actions tab items rendering
  src/Screens/Gameplay/Components/Actions/ActionsTab/FirstFewActions.jsx
  src/Utils/ActionsUtils/RenderActionItems.jsx
  src/Utils/ActionsUtils/assembleActionDataObject.js
  src/Utils/RenderActionItems.jsx
  src/texts.js
Labels: Actions, Maintenance, Refactor

#48 Create buttons for Seen and Crafting
  src/Redux/Slices/MountedComponents.js
  src/Screens/Gameplay/Components/Crafting/CraftingButton.jsx
  src/Screens/Gameplay/Components/Crafting/CraftingWindow.jsx
  src/Screens/Gameplay/Components/Seen/SeenButton.jsx
  src/Screens/Gameplay/Components/Seen/SeenWindow.jsx
  src/Screens/Gameplay/Components/WindowsContainer.jsx
Labels: Crafting, Seen

#61 Crafting and seen buttons animation
  package.json
  src/GeneralComponents/GeneralWindow.css
  src/Screens/Gameplay/Components/Crafting/CraftingButton.css
  src/Screens/Gameplay/Components/Crafting/CraftingButton.jsx
  src/Screens/Gameplay/Components/Crafting/CraftingWindow.jsx
  src/Screens/Gameplay/Components/Seen/SeenButton.css
  src/Screens/Gameplay/Components/Seen/SeenButton.jsx
  src/Screens/Gameplay/GameplayScreen.css
  src/Screens/Gameplay/GameplayScreen.jsx
  src/Utils/useAnimations.jsx
  yarn.lock
Labels: Animation, Crafting, Seen

#63 general-button-to-css (review fixes)
  src/GeneralComponents/GeneralWindow.jsx
  src/Screens/Gameplay/Components/Coins/CoinsTab.css
  src/Screens/Gameplay/Components/Energy/EnergyTab.css
  src/Screens/Gameplay/Components/WindowsContainer.jsx
  src/Screens/Gameplay/GameplayScreen.jsx
Labels: General Component
